agenda.dtd

<!ELEMENT agenda (contacto1)>

<!ELEMENT contacto1 (nombre, apellidos, empresa, puestoTrabajo, mail, telf, direccion, fechaNacimiento)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT empresa (#PCDATA)>
<!ELEMENT puestoTrabajo (#PCDATA)>

<!ELEMENT mail (#PCDATA)>

<!ELEMENT telf (#PCDATA)>

<!ELEMENT direccion (pais, calle, ciudad, provincia, codigoPostal)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT provincia (#PCDATA)>
<!ELEMENT codigoPostal (#PCDATA)>

<!ELEMENT fehacNacimiento (dia, mes, anio)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT anio (#PCDATA)>